/* #scrolling_wrapper::-webkit-scrollbar {
  height: 5px;
}
#scrolling_wrapper::-webkit-scrollbar-track {
  background: #16bdca;
}
#scrolling_wrapper::-webkit-scrollbar-thumb:horizontal {
  width: 20px;
  background-color: gray;
  border-radius: 20px;
} */

#scrolling_wrapper::-webkit-scrollbar {
  display: none;
}
